<!-- <h1>
  STARSHIP coming soon!
</h1> -->
<div id="containerMain" class="flex-container" fxLayout="row">
  <div id="containerViewport" class="flex-item" fxOrder="1" fxFlex="70" fxLayout="column">

    <div id="containerDisplay" class="flex-item" fxFlex="80"  fxLayoutAlign="start" ></div>
    <div id="containerOutput" class="flex-item" fxFlex="20" fxLayoutAlign="start end" ></div>
  </div>
  <div id="containerBuild" class="flex-item" fxOrder="2" fxFlex="30" fxLayoutAlign="end start"></div>
</div>
